body{
    background-color: rgb(172, 163, 163);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #556b2f;
  color: white;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;          /* space between image & text */
  font-size: 1.5rem;
  font-weight: bold;
}

.logo img {
  width: 40px;
  height: auto;
}

.logo h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  position: relative;
  padding: 4px 0;
}

/* Hover underline animation */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #003b0f;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hamburger */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Footer */

footer{
  display: flex;
  padding: 60px;
}

footer img{
  width: 50px;
}

footer h2{
  display: flex;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
}

footer p{
  display: flex;
  justify-content: left;
  align-self: first baselin;

}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links {
    border-radius: 14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: absolute;
    top: 64px;
    right: 0;
    background: #30303083;
    flex-direction: column;
    width: 200px;
    padding: 16px;
    display: none;
    margin-top: 19px;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}


.email{
  background-color: #556b2f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f4f6f8;
  border-radius: 14px;
  text-align: center;
}
